<launch>

  <arg name="paused" default="true"/>
	
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  	<arg name="world_name" value="$(find ia_ca)/worlds/test_wall.world"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>
  
  <include file="$(find kobuki_gazebo)/launch/includes/robot.launch.xml"/>
  
  <node name="con_1" pkg="ia_ca" type="bot_controller_single.py" output="screen" args="bot_1"/> 
     
</launch>
